/* INIZIALIZZAZIONE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* HEADER */
header {
  font-size: 30px;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px 0;
}
header ul li a {
  text-decoration: none;
  color: grey;
}
header ul li a:hover {
  color: green;
}
/* MAIN */
main {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main.home-main {
  background-color: red;
  color: green;
}
main.about-main {
  background-color: green;
  color: red;
}
main p {
  margin: 20px 0;
}
/* FOOTER */
footer {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: grey;
}
footer p {
  margin: 20px 0;
}
